body{
    padding: 100px;
     
}
 
#submit-area{

    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray; 
 
}

.btn{
     
    display: grid;    
    margin: auto;
} 
#transaction-area{
    display: none;
}
.status{
    margin: 0px 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;

}
.deposit{
     
    background-color: #9FE2BF;
}
.withdraw{
    
    background-color: #C70039;
}
.balance{
     
    background-color: #6495ED;
}
 
.social{
    margin:100px 20px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
 
#btn1{
       
     margin:  20px  0px;
} 
#btn2{
       
    margin:  20px  0px;
}